@use "./base/reset";
@use "./base/variables";
@use "./base/global";

// Add component-level SCSS imports below as your project grows:
// @use './components/button';
// @use './components/card';
// @use './pages/home';
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

    justify-content: center;
}
#app {
    width: 100%;
}
