@use "variables" as *;

body {
    font-family: $font-base;
    font-weight: $font-weight;
    background: $primary;
    color: $secondary;
    min-height: calc(100vh - 50px);
}

a {
    color: $primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    width: min(1200px, 90%);
}
