// Colors
$primary: #f8fafc;
$secondary: black;
$danger: #dc2626;
$success: #16a34a;
$white: #ffffff;
$black: #0f172a;

// Layout
$radius: 5px;
$shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
$transition: 0.3s ease;

// Typography
$font-base: "Poppins", sans-serif;
$font-weight: 400;
$font-size: 16px;
